absl-py==0.7.1
appnope==0.1.0
asgiref==3.2.3
astor==0.8.0
attrs==19.1.0
audioread==2.1.7
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bleach==3.1.0
bz2file==0.98
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
dj-database-url==0.5.0
Django==3.0.1
dopamine-rl==2.0.3
entrypoints==0.3
enum34==1.1.6
future==0.17.1
gast==0.2.2
gevent==1.4.0
gin-config==0.1.4
glob2==0.6
greenlet==0.4.15
grpcio==1.21.1
gunicorn==19.9.0
gym==0.12.4
h5py==2.9.0
httplib2==0.12.3
idna==2.8
intervaltree==3.0.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
kfac==0.1.4
kiwisolver==1.1.0
librosa==0.6.3
llvmlite==0.28.0
Markdown==3.1.1
MarkupSafe==1.1.1
mir-eval==0.5
mistune==0.8.4
mock==3.0.5
mpmath==1.1.0
msgpack-python==0.5.6
notebook==5.7.8
numba==0.43.1
numpy==1.16.3
oauth2client==4.1.3
packaging==19.0
pandocfilters==1.4.2
parso==0.4.0
prometheus-client==0.6.0
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.2
psycopg2==2.8.3
ptyprocess==0.6.0
py-midi==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyglet==1.3.2
Pygments==2.4.0
pygtrie==2.3
pyknon==1.2
pyparsing==2.4.0
pypng==0.0.19
pyrsistent==0.15.2
pyserial==3.4
python-dateutil==2.8.0
python-rtmidi==1.1.2
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
requests==2.22.0
resampy==0.2.1
rsa==4.0
Send2Trash==1.5.0
six==1.12.0
sk-video==1.1.10
sonnet==0.1.6
sortedcontainers==2.1.0
sox==1.3.7
sqlparse==0.3.0
tbb==2019.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
whitenoise==5.0.1
widgetsnbextension==3.4.2
wrapt==1.11.1
