<!doctype html>

<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">

	<title>Die Luft der Freiheit weht</title>
	<meta name="description" content="Staford motto">
	<meta name="Sharan Srinivasan" content="SitePoint">

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
	{% load static %}
	<script src="{% static 'js/controller.js' %}"></script>
	<h1>
		Die Luft der Freiheit weht
	</h1>
	<p>
		<button class="button" onclick="myFunction()">Let's play</button>
	</p>
	
</body>
</body>
</html>